/* Ignore following classes */

* {
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
  }
  
  #intro {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
  }
  
  .insideborder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .para {
    font-weight: 300;
    margin-left: 10px;
  }
  
  h2 {
    font-size: medium;
    font-weight: 200;
  }
  
  /* Classes that you might find useful */
  /* Note* These classes do not cover every possible case to build you flags, you will have to continue to add your own*/
  
  .flag {
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
  }
  
  .horiz {
    display: flex;
    flex-direction: row;
  }
  
  .twovert {
    height: 50%;
  }
  
  .threevert {
    height: 33.33333333333333333333333%;
  }

  .ninevert {
      height: 11.11111111111%;
  }

  .square {
    position: relative;
    height:55.55555555555555%;
    width:34%;
    bottom:500px;
    z-index:1;
  }

  .horizcross {
    position: relative;
    height:11.1111111111111%;
    width:34%;
    bottom:233.3px;
    z-index: 2;
  }

  .vertcross {
    position: relative;
    height:55.55555555%;
    width:7%;
    z-index: 3;
    bottom:333px;
    left: 65px;
  }

  .threehoriz {
    width: 33.33333333333333%;
  }

  .sixvert {
    height: 16.66666666666666666666666666666666%
  }
  
  .skinny {
    height: 17.5%;
  }
  
  .fat {
    height: 30%;
  }

  
  .circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: 85px;
    top: 50px;
  }

  
  /* Colors/ Feel free to add your own! */
  
  .red {
    background-color: #D22730;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: #FCD116;
  }
  
  .green {
    background-color: #006341;
  }
  
  .blue {
    background-color: #002B7F;
  }
  
  .thaiblue {
    background-color: #2d2a4a;
  }
  
  .purple {
    background-color: purple;
  }
  
  .white {
    background-color: #fff;
  }

  .greekblue {
    background-color: #0d5eaf;
  }

  .mexicowhite {
      background-color: white;
      background:url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Coat_of_arms_of_Mexico.svg/245px-Coat_of_arms_of_Mexico.svg.png") center no-repeat white;
      background-size: 80%
  }

  .luxembourgblue {
      background-color: #00A3E0;
  }
